<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>Archetype Created Web Application</display-name>
	
	<!-- 
		
	<servlet>
	<servlet-name>handler</servlet-name>
	<servlet-class>com.logicbig.example.HandlerServlet</servlet-class> 
	</servlet>
	<servlet>
	<servlet-name>handler2</servlet-name>
	<servlet-class>com.logicbig.example.HandlerServlet2</servlet-class> 
	</servlet>
	<servlet>
	<servlet-name>handler3</servlet-name>
	<servlet-class>com.logicbig.example.HandlerServlet3</servlet-class> 
	</servlet>
	<servlet>
	<servlet-name>redirect</servlet-name>
	<servlet-class>com.logicbig.example.RedirectServlet</servlet-class> 
	</servlet>
	<servlet>
	<servlet-name>redirect2</servlet-name>
	<servlet-class>com.logicbig.example.RedirectServlet2</servlet-class> 
	</servlet>
	<servlet>
	<servlet-name>redirect3</servlet-name>
	<servlet-class>com.logicbig.example.RedirectServlet3</servlet-class> 
	</servlet>
	
	<servlet-mapping>
	<servlet-name>handler</servlet-name>
	<url-pattern>/</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	<servlet-name>handler2</servlet-name>
	<url-pattern>/</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	<servlet-name>handler3</servlet-name>
	<url-pattern>/</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	<servlet-name>redirect</servlet-name>
	<url-pattern>/</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	<servlet-name>redirect2</servlet-name>
	<url-pattern>/</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	<servlet-name>redirect3</servlet-name>
	<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	-->
	
</web-app>